body {
  margin: 0;
  /* padding: 0; */
  overflow: hidden;
}

.webgl {
  display: none;
}

.stats-bar {
    padding-left: 20px;
    padding-right: 20px;
    height: 100px;
    background: #cdf7f1;
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: space-around;
}

.replay {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  background: red;
  width: 800px;
  height: 500px;
  border-radius: 50px;
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  /* display: none; */
}

