body {
  margin: 0;
  /* padding: 0; */
  overflow: hidden;
}

.webgl {
  display: none;
}

.nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.stats-bar {
  padding-left: 20px;
  padding-right: 20px;
  height: fit-content;
  background: #cdf7f1;
  display: flex;
  flex-direction: column;
  /* position: fixed; */
  justify-content: space-around;
}

.stats-bar > div {
  height: fit-content;
}

.replay {
  display: none;
  /* display: flex; */
  flex-direction: column;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  background: red;
  width: 800px;
  height: 500px;
  border-radius: 50px;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  /* display: none; */
}

.replay button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #008cba;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #4caf50;
  }
  &:active {
    background-color: #45a049;
    transform: translateY(2px);
  }
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
  width: 200px;
  height: 50px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  outline: none;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hp {
  --c: red;
  width: 200px;
  aspect-ratio: 1;
  background: radial-gradient(circle at 60% 65%, var(--c) 64%, #0000 65%) top
      left/50% 50%,
    radial-gradient(circle at 40% 65%, var(--c) 64%, #0000 65%) top right/50%
      50%,
    conic-gradient(from -45deg at 50% 85.5%, var(--c) 90deg, #0000 0)
      bottom/100% 50%;
  background-repeat: no-repeat;

  transform: scale(0.5);
  display: flex;

  margin-top: -40px;
  margin-right: -40px;
  position: relative;
}

.hp #HP {
  position: absolute;
  font-size: 4em;
  top: 45px;
  left: 54px;
  font-weight: bold;
  color: white;
}

.skill {
  display: flex;
  width: fit-content;
  height: 90px;
  background-color: #e0e0e0;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.skill button {
  width: 50px;
  height: 50px;
  margin: 20px;
  
  /* Trạng thái mặc định: ẩn */
  opacity: 0;
  transform: scale(0);

  /* Thời gian chuyển đổi cho opacity và transform */
  transition: opacity 0.5s ease, transform 0.5s ease;

  font-size: 16px;
  background: url(./src/skills/img/x2damage.png);
  background-position: center;
  background-size: cover;
  color: #fff;
  border: none; 
  border-radius: 5px;
  cursor: pointer;
}

/* Trạng thái hiện (appear) */
.skill button.appear {
  opacity: 1;
  transform: scale(1);
}

/* Trạng thái ẩn (hide) */
.skill button.hide {
  opacity: 0;
  transform: scale(0);
}
